body {
  font-family: Helvetica, Arial, sans-serif;
  color: #333333; }

#wrapper {
  width: 800px;
  margin: auto;
  margin-top: 40px; }
  #wrapper img.screenshot {
    float: left;
    margin-right: 40px; }
  #wrapper header h1 small {
    font-weight: normal;
    color: #aaaaaa; }
  #wrapper li, #wrapper p {
    margin-bottom: 1em; }
  #wrapper footer {
    margin-top: 50px;
    color: #aaaaaa;
    font-size: 12px; }
  #wrapper a#app-store-link img {
    display: block;
    margin: auto; }
